/* index.css */

body {
  background-color: crimson;
}

.btn-success img {
  width: 16px;
}

.offcanvas-start .btn-offcanvas {
  left: 400px;
  visibility: visible;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.offcanvas-end .btn-offcanvas {
  right: 400px;
  visibility: visible;
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

#offcanvasSGGSetsLabel img {
  width: 5em;
}

.nav-tabs > .nav-item > .nav-link:not(.active) {
  color: crimson;
}

.nav-tabs > .nav-item > .nav-link:not(.active):hover {
  color: #990000;
}

.nav-pills > .nav-item > .nav-link.active {
  background-color: crimson !important;
  color: white !important;
}

.nav-pills > .nav-item > .nav-link:not(.active) {
  color: crimson;
}

.nav-pills > .nav-item > .nav-link:not(.active):hover {
  color: #990000;
}

#setPhases, #setPhaseGroup {
  height: 300px;
  overflow-y: auto;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.modal-char-ss .modal-content {
  text-align: center;
  border-color: transparent;
  background-color: transparent;
}

.modal-char-select {
  display: inline-block;
}

.modal-char-select img {
  width: 5em;
  max-width: 100%;
}

.modal-char-select img:hover {
  cursor: pointer;
}

#player1CharCol>div:nth-child(1 of div:not(.d-none)) img {
  border-top-left-radius: var(--bs-border-radius)!important;
}

#player1CharCol>div:nth-last-child(1 of div:not(.d-none)) img {
  border-top-right-radius: 0rem!important;
  border-bottom-left-radius: var(--bs-border-radius)!important;
}

#player2CharCol>div:nth-child(1 of div:not(.d-none)) img {
  border-top-right-radius: var(--bs-border-radius)!important;
  border-bottom-left-radius: 0rem!important;
}

#player2CharCol>div:nth-last-child(1 of div:not(.d-none)) img {
  border-bottom-right-radius: var(--bs-border-radius)!important;
}

.img-char {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-player-1-char {
  background-color: #fd3232;
}

.img-player-2-char {
  background-color: #2985f5;
}

.btn-skin img {
  width: 1.5em;
}

.l-check {
  display: none;
}

@media (max-width: 767.98px) {
  #player1CharCol>div:nth-last-child(1 of div:not(.d-none)) img {
    border-top-right-radius: var(--bs-border-radius)!important;
    border-bottom-left-radius: 0rem!important;
  }

  #player2CharCol>div:nth-child(1 of div:not(.d-none)) img {
    border-top-right-radius: 0rem!important;
    border-bottom-left-radius: var(--bs-border-radius)!important;
  }

  .img-char {
    height: 100px;
    object-fit: contain;
  }

  #swapPlayers img {
    transform: rotate(90deg);
  }
}

@media (max-width: 575.98px) {
  #swapCommentators img {
    transform: rotate(90deg);
  }
}

/* start.gg Match CSS */

:root {
  --border-blueish: 1px solid var(--color-blueish-gray);
  --color-blueish-gray: #d6dade;
  --color-blue-primary: #3870e0;
  --color-blue-primary-filter: invert(35%) sepia(51%) saturate(2176%) hue-rotate(204deg) brightness(95%) contrast(85%);
  --color-dark-gray: #3b4350;
  --color-dark-gray-filter: invert(21%) sepia(13%) saturate(857%) hue-rotate(178deg) brightness(99%) contrast(85%);
  --color-green: #0d8225;
  --color-green-filter: invert(16%) sepia(88%) saturate(4843%) hue-rotate(145deg) brightness(97%) contrast(90%);
  --color-green-primary: var(--color-green);
  --color-green-primary-filter: var(--color-green-filter);
  --color-yellow-primary: #ffd500;
  --color-yellow-primary-filter: invert(93%) sepia(16%) saturate(6955%) hue-rotate(357deg) brightness(99%) contrast(107%);
  --color-slate: rgba(3,18,33,.6);
  --spacing--xs: 0.4rem;
  --state-is-created: var(--color-blue-primary);
  --state-is-created-filter: var(--color-blue-primary-filter);
  --state-is-active: var(--color-green-primary);
  --state-is-active-filter: var(--color-green-primary-filter);
  --state-is-completed: var(--color-slate);
  --state-is-called: var(--color-yellow-primary);
  --state-is-called-filter: var(--color-yellow-primary-filter)
}

*,:after,:before {
  box-sizing: border-box;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-default {
  background-color: #999
}

.bracket-phase {
  padding-left: 20px;
}

.bracket-public {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  line-height: 1.428571429;
  width: 200px;
  color: #333;
  background-color: #fff
}

.bracket-public .text-muted {
  color: #999
}

.text-xs {
  font-size: 9px
}

.bracket-public .round-header {
  width: 180px;
  display: inline-block;
  padding-bottom: 12px;
  margin-bottom: 16px;
  border-bottom: var(--border-blueish)
}

.bracket-public .round-root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.bracket-public .round-title-container {
  display: flex;
  align-items: baseline
}

.bracket-public .round-title {
  font-size: 1.4em;
  font-weight: 700
}

.flex-item-grower {
  flex: 1 1 100%
}

.match {
  position: relative;
  height: 50px;
  width: 180px;
  transition: margin .3s linear
}

.match>.match-affix-wrapper>.match-section {
  border: 2px solid #e6e6e6
}

.match>.match-affix-wrapper>.match-section:first-child {
  border-bottom: 0
}

.match>.match-affix-wrapper>.match-section:nth-child(3) {
  border-top: 0
}

.match .match-player {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 22px;
  background: #fff;
  font-size: 13px;
  font-style: italic;
  font-weight: 300;
  transition: all .3s linear;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  color: var(--color-slate)
}

.match .match-player>.match-player-info,.match .match-player>.match-player-name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap
}

.match .match-player>.match-player-info.status-bar,.match .match-player>.match-player-name {
  padding-right: 4px
}

.match .match-player>.match-player-name {
  flex: 1 1 auto;
  padding-left: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 4px
}

.match .match-player>.match-player-info .text-dq {
  font-weight: 700
}

.match .match-player.entrant {
  color: #000;
  font-style: normal;
  font-weight: 400
}

.match .match-player.entrant.winner {
  font-weight: 700
}

.match .match-player.entrant.winner .match-player-info {
  color: #22b24c
}

.match .match-player.entrant.winner .match-player-info.status-bar {
  border-right: 4px solid #22b24c
}

.match .match-player.entrant.winner .match-player-info .match-player-stocks {
  color: #fff;
  background: #22b24c
}

.match .match-player.loser .match-player-info.status-bar {
  border-right: 4px solid var(--color-slate)
}

.match .match-player.loser .match-player-info .match-player-stocks {
  color: #fff;
  background: var(--color-slate)
}

.match .match-player .match-player-stocks {
  width: 17px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap
}

.match .match-player .match-in-progress {
  margin-right: 40px;
  color: var(--state-is-active);
  border-left: 2px solid #eee
}

.match .match-spacer {
  display: block;
  height: 0;
  width: 100%;
  border: 2px solid #e6e6e6;
  border-top: 0;
  transition: border-color .3s linear
}

.match-affix-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.match-affix-wrapper .match-label {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 16px;
  margin: auto;
  color: #fff;
  background: var(--color-dark-gray);
  left: -14px;
  font-size: 10px
}

.match-affix-wrapper .match-label .caret-right {
  position: absolute;
  right: -12px;
  filter: var(--color-dark-gray-filter);
  font-size: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 21px
}

.match.in-progress .match-label,.match.in-progress .match-station,.match.playable.in-progress .match-label,.match.playable.in-progress .match-station {
  background: var(--state-is-active)
}

.match.in-progress .match-label .caret-right,.match.playable.in-progress .match-label .caret-right {
  filter: var(--state-is-active-filter)
}

.match.called .match-label,.match.called .match-station {
  background: var(--state-is-called)
}

.match.called .match-label .caret-right {
  filter: var(--state-is-called-filter)
}

.match.playable .match-label {
  background: var(--state-is-created)
}

.match.playable .match-label .caret-right {
  filter: var(--state-is-created-filter)
}

.match .identifier-container {
  line-height: 1.2
}

.match:not(.blank):not(.no-hover):hover {
  border-color: #cdcccc
}

.match:not(.blank):not(.no-hover):hover.reportable {
  cursor: pointer
}

.match:not(.blank):not(.no-hover):hover .match-section,.match:not(.blank):not(.no-hover):hover .match-spacer {
  border-color: #cdcccc
}

.match .text-success {
  filter: invert(57%) sepia(54%) saturate(3997%) hue-rotate(100deg) brightness(98%) contrast(73%);
  height: 20px;
  width: 20px
}

.match-station {
  color: #fff;
  background: var(--color-slate);
  position: absolute;
  top: 2px;
  right: 2px;
  height: 46px;
  width: 40px;
  text-align: center;
  transform-style: preserve-3d
}

.match-station>* {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  line-height: 1
}

.match-station .match-timer {
  font-style: italic;
  font-size: 10px
}

.match-station .match-timer-spacer {
  border-top: 2px solid #fff;
  width: 28px;
  margin: 2px auto 3px;
  opacity: .3
}

.match-station .bell-o {
  font-size: 18px
}

.match-station .stream-name {
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 2px;
  margin-right: 2px
}

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap
}
